<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<title>Meneame App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
    		$("#show").click(function(){
        		$("#media").toggle();
    		});
		});
	</script>
</head>

<body>
<div id ="container">
	<div id = "header">
			<br><br><br>
			<h1>Men&eacute;ame APP</h1>
	</div>
	<div id="a1">
		<h3>Consultas</h3><br>
		<div>
			<form action="/consulta" method="POST">
				<input type="number" placeholder="Inserte un umbral" name="limit"><br><br>
				<input type="submit" value="Consultar"><br><br>
			</form>

			<button id="show">Mostrar Media de Clics</button>
			<br>
			<div id = "media" hidden>
				<h5>La media de CLICS es {{average}}</h5>
			    <h5>Se ha utilizado {{ddbb}}</h5>
			</div>
		</div>
	</div>
	<div id="a2">
		<h3>Enlaces</h3><br>
		<form action="/clics" method="GET">
			<input type="submit" value="Grafica de Clics"><br><br>
		</form>

		<form action="/meneos" method="GET">
			<input type="submit" value="Grafica de Meneos"><br><br>
		</form>

		<form action="/channel" method="GET">
			<input type="submit" value="Canal ThingSpeak"><br><br>
		</form>
	</div>

	<br>
	<div id="a3">
		<h4>El limite seleccionado es: {{limite}}</h4>
		<h4>Lista de Noticias</h4>
	</div>
	<table id="tabla">
		<tr>
			<th>CLICS</th>
			<th>VOTES</th>
			<th>TITLE</th>
			<th>DATE</th>
			<th>ID</th>
		</tr>
		{% for row in data %}
		<tr>
			{% for d in row %}
				<td>{{d}}</td>
			{% endfor %}	
		</tr>
		{% endfor %}
	</table>

<br><br><br>
<div id="foot"></div>
</div>

</body>
</html>

