body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  background-color:black;
  background-image:url("image.jpg");
}

#container {
  width: 1400px;
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.1);

}

#header {
  height: 200px;
  border-bottom: 1px solid #00e600;

}

#a1{

  width:30%;
  margin-left:5%;
  float:left;
  text-align: center;
}

#a2{

  width:30%;
  float:left;
  margin-left: 30%;
  text-align: center;

}

#a3{

  width:100%;
  float:left;
 

}

input[type=submit] {

  padding:5px 25px; 
  width:250px; 
  background-color: #f8f8f8; 
  color:black;
  border:4px solid green;
  cursor:pointer;
  border-radius: 5px; 

}

input[type=number] {

  padding:5px 10px;
  width:220px; 
  background-color: #f8f8f8; 
  border:4px solid green;
  color:black;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  text-align: center;
  
}

button{

  padding:5px 25px;
  width:250px;  
  background-color: #f2f2f2; 
  border:4px solid green;
  cursor:pointer;
  color:black;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  
}


h1 {
  font-size: 3.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: #00e600;
}

h3{
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: #00e600;
}

h4{
  font-size: 1.6em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
  color:#00e600;
}

h5{
  font-size: 1.5em;
  font-weight: 50;
  margin-top: 15px;
  text-align: center;
  letter-spacing: -1px;
  color: #00e600;
}

#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th {
    border: 2px solid green;
    padding: 20px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;color:black;}


#tabla th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: green;
    color: white;
    border:1px solid green;
    

}

#media{
  border:3px solid green;

}

#foot {
  height:200px;
}